.gradiant-card {
    -fx-background-color: linear-gradient(to right, #0598ff, #0598ff);
}

.title-label {
    -fx-font-size: 23px;
    -fx-font-weight: bold;
    -fx-font-style: segoe UI;
    -fx-text-fill: #ffffff;
}

.titled-pane .title {
    -fx-background-color: linear-gradient(to right, #03a973, #48fdbc);;
    -fx-background-radius: 10;
    -fx-padding: 1em 1em 1em 2em;
    -fx-text-fill: #ffffff;
    -fx-end-margin: 1em;
}